:root {
  --primary-text-color: #434455;
  --title-text-color: #2e2f42;
  --accent: #4d5ae5;

  --primary-white-color: #ffffff;
}
body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
}
.logo {
  color: var(--title-text-color);
}
.logo .header-logo {
  color: var(--accent);
}
.list {
  list-style: none;
}
/* site nav */
.site-nav .link {
  color: var(--title-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent);
}
.site-nav .link.current {
  color: var(--accent);
}
/* site auth */
.auth-nav .link {
  color: var(--primary-text-color);
}
.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent);
}
/* hero */

.hero-list .title {
  color: var(--primary-white-color);
  background-color: var(--title-text-color);
}
.button {
  color: var(--primary-white-color);
  background-color: var(--accent);
}
.button .primary {
  color: var(--primary-white-color);
  background-color: var(--accent);
}

/* section */
.section .section-title {
  color: var(--title-text-color);
}

.features .title {
  color: var(--title-text-color);
}
/* section team */
.section .photo-title {
  color: var(--title-text-color);
}
/* footer logo */
.logo .footer-logo {
  color: #f4f4fd;
}

.logo {
  color: var(--accent);
  background: var(--title-text-color);
}
.footer-list .title {
  color: #e7e9fc;
  background: var(--title-text-color);
}

/* hero section */
