:root {
  --primary-text-color: #434455;
  --title-text-color: #2e2f42;
  --accent: #4d5ae5;

  --primary-white-color: #ffffff;
  --footer-text-color: #e7e9fc;
}
/* STUDIO */
body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
}
.header-logo .logo {
  color: var(--title-text-color);
}
.logo {
  text-decoration: none;
}
.header-logo .subject {
  color: var(--accent);
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
/* site nav */
.site-nav .link {
  color: var(--title-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent);
}
.site-nav .link.current {
  color: var(--accent);
}
/* site auth */
.auth-nav .link {
  color: var(--primary-text-color);
}
.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent);
}
/* hero */
.hero-list {
  background-color: var(--title-text-color);
}

.hero-list .title {
  color: var(--primary-white-color);
  background-color: var(--title-text-color);
}
.button {
  color: var(--primary-white-color);
  background-color: var(--accent);
}
.button .primary {
  color: var(--primary-white-color);
  background-color: var(--accent);
}

/* section */
.section-list {
  background: #f4f4fd;
}
.section .section-title {
  color: var(--title-text-color);
}
.section-list .section-title {
  color: var(--title-text-color);
}
.section-list .photo-title {
  color: var(--title-text-color);
}
.features .title {
  color: var(--title-text-color);
}
/* section team */
.section .photo-title {
  color: var(--title-text-color);
}
/* footer logo */
.footer-list {
  background-color: var(--title-text-color);
}
.logo .footer-logo {
  color: #f4f4fd;
}

.logo {
  color: var(--accent);
}
.footer-list .title {
  color: var(--footer-text-color);
}

/* PORTFOLIO */
/* button */
.btn-list .link {
  color: #4d5ae5;
  background: #f4f4fd;
}
.btn-list .link:hover,
.btn-list .link:focus {
  color: #ffffff;
  background: #404bbf;
}
/* section title */
.advantages .link {
  color: var(--title-text-color);
}
